@charset "UTF-8";

#login-page {
    background: url("../../assets/images/bg-top.jpg") no-repeat center top;
    background-size: cover;
    padding: 7% 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#login-page .form-login {
    margin-bottom: 30px;
}

#login-page .form-login form {
    margin: 0 auto;
    max-width: 300px;
}

#login-page .form-login form h1 {
    font-size: 45px;
    margin-bottom: 40px;
}

#login-page .form-login form .form-control {
    background: none;
    border: 3px solid #fff;
    border-radius: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    height: 50px;
}

#login-page .text-login {
    margin: 0 auto;
    max-width: 550px;
}